/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 800px) {
  br {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: oklch(72.3% 0.219 149.579);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(72.3% 0.219 149.579);
}

* {
  scrollbar-width: thin;
  scrollbar-color: oklch(72.3% 0.219 149.579) #f1f1f1;
}
